if [ -f ".env" ]; then
    export $(cat .env | xargs);
else
    cp .env.example .env
    export $(cat .env | xargs);
fi

if [ !$DATABASE_URL ]; then
    export DATABASE_URL="postgres://root:toor@localhost:5432/realtime-v1?sslmode=disable"
fi

export PROJECT_PATH=$PWD
export GROUPID=$(id -u)
export USERID=$(id -g)