bin/
.idea/
tmp/

examples/memory/**.yaml
!examples/memory/memory.config.yaml

examples/redis/**.yaml
!examples/redis/redis.config.yaml

examples/upstash/**.yaml
!examples/upstash/upstash.config.yaml

.env

*.log